
.feed {
  border: 1px solid rgba(160, 160, 160, 0.5);

  .feed__container {
    .feed__title {
      border-bottom: 1px solid rgba(160, 160, 160, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      h1 {
        text-transform: capitalize;
        font-size: 18px;
        color: rgb(27, 26, 26);
        letter-spacing: 1px;
      }
      .feed__title--icon {
        color: rgba(29, 161, 242, 1);
        &:hover {
          background-color: rgba(118, 185, 226, 0.4);
          border-radius: 25px;
        }
      }
    }
    .feed__tweet {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "ti ti"
        "icon btn";
      border-bottom: 5px solid rgba(141, 141, 141, 0.4);
      padding: 10px;
      .feed__tweet__title {
        grid-area: ti;
        grid-row-end: 2;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 15px;
        .feed__input {
          margin-left: 25px;
          color: rgb(168, 168, 168);
          border: none;
          padding: 10px 0;

          &::placeholder {
            font-size: 18px;
          }
        }
        .tweet__icon {
          transform: scale(2);
          color: rgb(34, 28, 28);
        }
      }
      .feed__tweet__attachment {
        grid-area: icon;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .tweet__attachment__icon {
          margin: 0 10px;
          transform: scale(1.1);
          color: rgba(29, 161, 242, 0.7);
        }
        .gif {
          border: 2px solid rgba(0, 155, 252, 0.7);
          transform: scale(0.7);
        }
      }
      .feed__tweet__btn {
        grid-area: btn;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        button {
          padding: 10px 30px;
          text-transform: capitalize;
          font-size: 16px;
          background-color: rgba(29, 161, 242, 0.5);
          border-radius: 25px;
          border: none;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
