* {
  margin: 0;
  padding: 0;
}

body {
  --twitter-color: rgba(29, 161, 242, 1);
  --twitter-bg: rgba(136, 207, 252, 0.4);
  --twitter-borderBottom: rgb(225, 232, 235);
}

.App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
